name: CI pipeline
on:
  push:
    branches: [ main ]

jobs:
  build_and_text:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checkout@v5

     - name: Set up Node.js
       uses: actions/setup-node@v3
       with:
         node-version: 16

     - name: Install dependencies
       run: npm install
     - name: Run the build command
       run: npm run build
     - name: Run tests
       run: npm test